<%= form_for(fiscal_public) do |f| %>
  <% if fiscal_public.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fiscal_public.errors.count, "error") %> prohibited this fiscal_public from being saved:</h2>

      <ul>
      <% fiscal_public.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
