<p id="notice"><%= notice %></p>

<h1>Fiscal Publics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fiscal_publics.each do |fiscal_public| %>
      <tr>
        <td><%= fiscal_public.name %></td>
        <td><%= fiscal_public.phone %></td>
        <td><%= fiscal_public.email %></td>
        <td><%= link_to 'Show', fiscal_public %></td>
        <td><%= link_to 'Edit', edit_fiscal_public_path(fiscal_public) %></td>
        <td><%= link_to 'Destroy', fiscal_public, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fiscal Public', new_fiscal_public_path %>
