<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fiscal_public.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @fiscal_public.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @fiscal_public.email %>
</p>

<%= link_to 'Edit', edit_fiscal_public_path(@fiscal_public) %> |
<%= link_to 'Back', fiscal_publics_path %>
