<%= form_for(office) do |f| %>
  <% if office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
      <% office.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="input-field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

  <div class="input-field">
    <%= f.label :numero %>
    <%= f.number_field :numero %>
  </div>

  <div class="input-field">
    <%= f.label :nominais %>
    <%= f.number_field :nominais %>
  </div>

  <div class="input-field">
    <%= f.label :brancos %>
    <%= f.number_field :brancos %>
  </div>

  <div class="input-field">
    <%= f.label :nulos %>
    <%= f.number_field :nulos %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class:"btn" %>
  </div>
<% end %>
