<div class="row">
  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-content cyan white-text">
        <p class="card-stats-title">
          <i class="material-icons">person_outline</i> Nominais</p>
        <h4 class="card-stats-number"><%= @office.nominais %></h4>
        <!--<p class="card-stats-compare">
          <i class="material-icons">keyboard_arrow_up</i> 15%
          <span class="cyan text text-lighten-5">from yesterday</span>
        </p>-->
      </div>

    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-content deep-orange accent-2 white-text">
        <p class="card-stats-title">
          <i class="material-icons">content_copy</i> Brancos</p>
        <h4 class="card-stats-number"><%= @office.brancos %></h4>

      </div>

    </div>
  </div>
  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-content red accent-2 white-text">
        <p class="card-stats-title">
          <i class="material-icons">not_interested</i>Nulos</p>
        <h4 class="card-stats-number"><%= @office.nulos %></h4>

      </div>

    </div>
  </div>
  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-content blue accent-2 white-text">
        <p class="card-stats-title">
          <i class="material-icons">info</i>Restam</p>
        <h4 class="card-stats-number"><%= @pleito.votos_validos - @office.votos_computados %></h4>

      </div>

    </div>
  </div>
</div>


<div class="row">

  <div class="col s12 l6">
    <div class="card-panel">
      <h4 class="header2">Votos</h4>

      <div id="chart_div" class="center"></div>
    </div>
  </div>
  <div class="col s12 l6">
    <div class="card-panel">
      <h4 class="header2">Votos</h4>

      <div id="chart_collum" class="center"></div>
    </div>
  </div>
</div>
<% if @eleito %>
<div class="row">
  <div class="col s12">
      <div class="card">
        <h1>Candidato Eleito</h1>
      </div>
  </div>

      <div class="col s12 m6 l6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="<%= @candidatos.first.foto.url %>">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h4><%= @candidatos.first.name %></h4>
              <h1><%= @candidatos.first.votos %></h1>
            </div>
          </div>
        </div>
      </div>
</div>
<% else %>
<div class="row">

      <div class="col s12">
        <div class="card">
          <h1><%= @segundoturno == true ? "Segundo Turno Confirmado" : "Apuração em andamento" %></h1>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="<%= @candidatos.first.foto.url %>">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h4><%= @candidatos.first.name %></h4>
              <h1><%= @candidatos.first.votos %><%= "/#{(@p+1) - @candidatos.first.votos}" if !@segundoturno%></h1>
            </div>


          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="<%= @candidatos.second.foto.url %>">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h4><%= @candidatos.second.name %></h4>
              <h1><%= @candidatos.second.votos %></h1>
            </div>

          </div>
        </div>
      </div>

<% end %>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {
        var dados = <%= @votes.group_by(&:candidato).map{|candidato, votes| [Candidate.find_by_numero(candidato).name,votes.sum{|a| a.votos}]}.to_s.html_safe %>;
        dados.unshift(["Candidato","Votos"]);
        console.log(dados);
        var data = google.visualization.arrayToDataTable(dados);

        var options = {
            title: 'Votos Nominais',
            'width':400,
            'height':300
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

        chart.draw(data, options);

        var options_collum = {
            title: 'Votos Nominais'
        };

        var chart_collum = new google.visualization.ColumnChart(document.getElementById('chart_collum'));

        chart.draw(data, options);
        chart_collum.draw(data, options_collum);
    }
</script>