<div ng-controller="firebase_controller" ng-init="cargo = 'cargo_<%= @office.id %>' ">
  <div class="row">
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content cyan white-text">
          <p class="card-stats-title">
            <i class="material-icons">person_outline</i> Nominais</p>
          <h4 class="card-stats-number"> {{data.apuracao[cargo].nominais}}</h4>
          <!--<p class="card-stats-compare">
            <i class="material-icons">keyboard_arrow_up</i> 15%
            <span class="cyan text text-lighten-5">from yesterday</span>
          </p>-->
        </div>

      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content deep-orange accent-2 white-text">
          <p class="card-stats-title">
            <i class="material-icons">content_copy</i> Brancos</p>
          <h4 class="card-stats-number">{{data.apuracao[cargo].brancos}}</h4>

        </div>

      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content red accent-2 white-text">
          <p class="card-stats-title">
            <i class="material-icons">not_interested</i>Nulos</p>
          <h4 class="card-stats-number">{{data.apuracao[cargo].nulos}}</h4>

        </div>

      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content blue accent-2 white-text">
          <p class="card-stats-title">
            <i class="material-icons">info</i>Restam</p>
          <h4 class="card-stats-number">{{data.apuracao[cargo].pleito.eleitores - data.apuracao[cargo].pleito.faltantes - data.apuracao[cargo].votos_computados}}</h4>

        </div>

      </div>
    </div>
  </div>

  <div id="card-alert" class="card gradient-45deg-purple-deep-orange" ng-if="eleito">
    <div class="card-content white-text">
      <i class="material-icons">notifications</i> ELEIÇÃO MATEMÁTICAMENTE DEFINIDA! O candidato {{data.apuracao[cargo].candidatos[0].name}} já está matemáticamente eleito.<p></p>
    </div>
  </div>

  <div id="card-alert" class="card gradient-45deg-purple-deep-orange" ng-if="segundoturno">
    <div class="card-content white-text">
      <i class="material-icons">notifications</i> ELEIÇÃO MATEMÁTICAMENTE DEFINIDA! Os candidatos {{data.apuracao[cargo].candidatos[0].name}} e {{data.apuracao[cargo].candidatos[1].name}} estão no segundo turno no momento. Matemáticamente não é mais possível eleição em primeiro turno<p></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{data.apuracao[cargo].candidatos[0].foto.url || '/nobody.jpg'}}">
              <a class="btn-floating halfway-fab waves-effect waves-light blue left">
                <i>1º</i>
              </a>
              <span class="new badge lime darken-1" data-badge-caption="Candidato Eleito" ng-if="eleito"> </span>
              <span class="new badge  light-blue darken-4" data-badge-caption="Segundo Turno" ng-if="segundoturno"> </span>
            </div>
            <div class="card-content">
              <h5 class="center font-weight-400">{{data.apuracao[cargo].candidatos[0].name}}</h5>
              <div class="divider mt-5"></div>
              <div class="col l6 m6 s6 padding-5">
                <p class="center">
                  <b>{{data.apuracao[cargo].candidatos[0].votos}}</b>
                </p>
                <p class="center">votos</p>
              </div>
              <div class="col l6 m6 s6 padding-5" ng-if="!eleito">
                <p class="center">
                  <b>{{arredondar((metade+1) - data.apuracao[cargo].candidatos[0].votos)}}</b>
                </p>
                <p class="center">para ser eleito</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{data.apuracao[cargo].candidatos[1].foto.url || '/nobody.jpg'}}">
              <a class="btn-floating halfway-fab waves-effect waves-light blue left">
                <i>2º</i>
              </a>
              <span class="new badge red darken-4" data-badge-caption="Fora da Disputa" ng-if="eleito"> </span>
              <span class="new badge  light-blue darken-4" data-badge-caption="Segundo Turno" ng-if="segundoturno"> </span>
            </div>
            <div class="card-content">
              <h5 class="center font-weight-400">{{data.apuracao[cargo].candidatos[1].name}}</h5>
              <div class="divider mt-5"></div>
              <div class="col l6 m6 s6 padding-5">
                <p class="center">
                  <b>{{data.apuracao[cargo].candidatos[1].votos}}</b>
                </p>
                <p class="center">votos</p>
              </div>
              <div class="col l6 m6 s6 padding-5" ng-if="!eleito && !segundoturno">
                <p class="center">
                  <b>{{arredondar((metade+1) - data.apuracao[cargo].candidatos[1].votos)}}</b>
                </p>
                <p class="center">para ser eleito</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{data.apuracao[cargo].candidatos[2].foto.url || '/nobody.jpg'}}">
              <a class="btn-floating halfway-fab waves-effect waves-light blue left">
                <i>3º</i>
              </a>
              <span class="new badge red darken-4" data-badge-caption="Fora da Disputa" ng-if="eleito || segundoturno"> </span>
            </div>
            <div class="card-content">
              <h5 class="center font-weight-400">{{data.apuracao[cargo].candidatos[2].name}}</h5>
              <div class="divider mt-5"></div>
              <div class="col l6 m6 s6 padding-5">
                <p class="center">
                  <b>{{data.apuracao[cargo].candidatos[2].votos}}</b>
                </p>
                <p class="center">votos</p>
              </div>
              <div class="col l6 m6 s6 padding-5" ng-if="!eleito && !segundoturno">
                <p class="center">
                  <b>{{arredondar((metade+1) - data.apuracao[cargo].candidatos[2].votos)}}</b>
                </p>
                <p class="center">para ser eleito</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col s12 m6">
      <div class="card-panel">
        <table>
          <thead>
          <th>Candidato</th>
          <th>Votos</th>
          <th>Percentual</th>
          </thead>
          <tbody>
          <tr ng-repeat="candidato in data.apuracao[cargo].candidatos">
            <td>{{candidato.name}}</td>
            <td>{{candidato.votos}}</td>
            <td>{{(candidato.votos * 100)/data.apuracao[cargo].nominais | number:2}}%</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel">
        <h4 class="header2">Votos</h4>

        <div id="chart_div" class="center"></div>
      </div>
    </div>
    <div class="col s12">
      <div class="card-panel">
        <h4 class="header2">Votos</h4>

        <div id="chart_collum" class="center"></div>
      </div>
    </div>

  </div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    //google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart(dados) {
        var dados = dados;
        dados.unshift(["Candidato","Votos"]);
        console.log(dados);
        var data = google.visualization.arrayToDataTable(dados);

        var options = {
            title: 'Votos Nominais',
            'width':400,
            'height':300
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

        chart.draw(data, options);

        var options_collum = {
            title: 'Votos Nominais'
        };

        var chart_collum = new google.visualization.ColumnChart(document.getElementById('chart_collum'));

        chart.draw(data, options);
        chart_collum.draw(data, options_collum);
    }
</script>
  <script type="text/javascript" charset="utf-8">
      setTimeout( function () {
          swal("Atualização Automática", "Na TagHere você não precisa ficar atualizando a página toda hora, os dados são atualizados automáticamente assim que disponíveis! :)", "info")

      }, 1000)
  </script>