<p id="notice"><%= notice %></p>

<h1>Cargos</h1>

<table>
  <thead>
    <tr>
      <th>Cargo</th>
      <th>Nominais</th>
      <th>Brancos</th>
      <th>Legenda</th>
      <th>Nulos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offices.each do |office| %>
      <tr>
        <td><%= office.name %></td>
        <td><%= office.nominais %></td>
        <td><%= office.brancos %></td>
        <td><%= office.legenda %></td>
        <td><%= office.nulos %></td>
        <td><%= link_to "Apuração", apuracao_office_path(office), target:"_self"%></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Visualizar', office, target:"_self" %></td>
        <td><%= link_to 'Editar', edit_office_path(office), target:"_self" %></td>
        <td><%= link_to 'Deletar', office, method: :delete, data: { confirm: 'Are you sure?' }, target:"_self" %></td>
            <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cargo', new_office_path if current_user.admin?%>

<!-- "#{@dados_suplementares["processoEleitoral"]["eleicoes"][0]["partidosPorCargos"].map{|a| a["cargo"]["codigo"].to_i == office.numero ? a["cargo"]["nomeNeutro"] : office.numero}.first}" -->