<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @office.numero %>
</p>

<p>
  <strong>Nominais:</strong>
  <%= @office.nominais %>
</p>

<p>
  <strong>Brancos:</strong>
  <%= @office.brancos %>
</p>

<p>
  <strong>Nulos:</strong>
  <%= @office.nulos %>
</p>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
