<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "login-form"}) do |f| %>
  <%= devise_error_messages! %>
    <div class="row">
      <div class="input-field col s12 center">
        <img src="/materialize/images/logo/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
        <p class="center login-form-text">Registro de Usuário</p>
      </div>
    </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "Senha" %>
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirme a Senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

    <div class="actions">
      <%= f.submit "Registrar", class:"btn waves-effect waves-light col s12" %>
    </div>

    <div class="row margin">
      <div class="input-field col s12">
        <p>&nbsp;</p>
        <%= render "devise/shared/links" %>
        <p>&nbsp;</p>
      </div>
    </div>
<% end %>
