<%= form_for(bulletin) do |f| %>
  <% if bulletin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bulletin.errors.count, "error") %> prohibited this bulletin from being saved:</h2>

      <ul>
      <% bulletin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dados %>
    <%= f.text_field :dados %>
  </div>

  <div class="field">
    <%= f.label :assinatura %>
    <%= f.text_field :assinatura %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
