<p id="notice"><%= notice %></p>

<h1>Boletins</h1>

<table>
  <thead>
    <tr>
      <th>Dados</th>
      <th>Assinatura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bulletins.each do |bulletin| %>
      <tr>
        <td><%= bulletin.dados %></td>
        <td><%= bulletin.assinatura %></td>
        <td><%= link_to 'Visualizar', bulletin %></td>
        <td><%= link_to 'Editar', edit_bulletin_path(bulletin) %></td>
        <td><%= link_to 'Deletar', bulletin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Bulletin', new_bulletin_path %>
