<p id="notice"><%= notice %></p>

<p>
  <strong>Dados:</strong>
  <%= @bulletin.dados %>
</p>

<p>
  <strong>Assinatura:</strong>
  <%= @bulletin.assinatura %>
</p>

<%= link_to 'Edit', edit_bulletin_path(@bulletin) %> |
<%= link_to 'Back', bulletins_path %>
