<%= form_for(partner) do |f| %>
  <% if partner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(partner.errors.count, "error") %> prohibited this partner from being saved:</h2>

      <ul>
      <% partner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card" >
  <div class="card-content">
  <div class="input-field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>

  <div class="input-field">
    <%= f.label :description, "Descrição" %>
    <%= f.text_field :description %>
  </div>

    <div class="input-field">
      <%= f.label :partner_taghere, "Parceiro TagHere" %>
      <%= f.number_field :partner_taghere %>
    </div>

    <div class="input-field">

      <%= f.select :candidate_id , Candidate.all.map{|a| [a.name, a.id]},{prompt: true}%>
      <%= f.label :candidate_id, "Candidato" %>
    </div>

    <div class="-input-field">
    <%= f.label :manual, "Manual do Fiscal" %>
    <%= f.file_field :manual %>
  </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit "Salvar", class: "btn",target: "_self"%>
  </div>
<% end %>
