<div class="row">
  <div class="col s12 m8">
    <div class="card">
      <div class="card-content">
      <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
        Pesquisa
      </span>
        <div id="pesquisa" class="not-show">
          <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
              <%= f.text_field :name_or_polling_place_name_cont, placeholder: "Pesquisar..." %>
              <%= f.submit "Filtrar", class:"btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel">
      <h4 class="header2">Legenda</h4>
      <div class="chip red darken-4 white-text tooltipped" data-position="top" data-delay="50" data-tooltip="Não leu o Boletim">
        <img src="/materialize/images/avatar/avatar-3.png" alt="Contact Person">
        Não Cumpriu
      </div>
      <div class="chip green white-text tooltipped" data-position="top" data-delay="50" data-tooltip="Cumpriu as Tarefas">
        <img src="/materialize/images/avatar/avatar-3.png" alt="Contact Person">
        Cumpriu
      </div>
      <br>
      <div class="chip tooltipped" data-position="top" data-delay="50" data-tooltip="Pode Mandar Incidente">
        <img src="/materialize/images/avatar/avatar-3.png" alt="Contact Person">
        Delegado
      </div>
      <div class="chip tooltipped" data-position="top" data-delay="50" data-tooltip="Só pode ler Boletim">
        <img src="/materialize/images/avatar/avatar-6.png" alt="Contact Person">
        Fiscal
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="card-title">Fiscais Cadastrados <small>(<%= @aparelhos.total_count %> no total)</small></div>
    <table class="table responsive-table">
      <thead>
      <tr>
        <th>Fiscal</th>
        <th>Telefone</th>
        <th>Local de Votação</th>
      </tr>
      </thead>

      <tbody>
      <% @aparelhos.each do |aparelho| %>
          <tr>
            <td>
              <div class="chip red darken-4 white-text tooltipped" data-position="top" data-delay="50" data-tooltip="Não leu o Boletim">
                <img src="/materialize/images/avatar/avatar-3.png" alt="Contact Person">
                <%= aparelho.name %>
              </div>
            </td>
            <td>
              <div class="chip">
                <img src="/materialize/images/icon/Message.png" alt="Contact Person">
                <%= aparelho.phone %>
              </div>
            </td>
            <td>
              <%= link_to aparelho.polling_place do %>
                  <div class="chip tooltipped" data-position="top" data-delay="50" data-tooltip="<%= aparelho.polling_place %>">
                    <img src="/materialize/images/icon/map.jpeg" alt="Contact Person">
                    <%= truncate(aparelho.polling_place.to_s, length: 50) %>
                  </div>
              <% end %>

              <a class="modal-trigger" href="#modal_<%= aparelho.id %>"><i class="material-icons small blue-text" >edit</i></a>

              <!-- Modal Structure -->

            </td>
          </tr>
          <div id="modal_<%= aparelho.id %>" class="modal">
            <%= form_tag(url: "/partners/atualiza_fiscal", method: :get) do %>
              <div class="modal-content">
                <h4>Atualizar dados</h4>
                <div class="input">
                  <%= label_tag :local, "Local de Votação" %>
                  <%= select_tag :local, options_from_collection_for_select(PollingPlace.all, "id", "name", aparelho.polling_place_id),{class:"browser-default select2" }%>
                </div>
                <div class="field">
                  <%= check_box_tag :delegado,{}, aparelho.delegado %>
                  <%= label_tag :delegado, "Delegado" %>

                </div>
                <%= hidden_field_tag :fiscal, aparelho.id %>
              </div>
              <div class="modal-footer">
                <%= submit_tag "Salvar", class:"waves-effect waves-green btn-flat"  %>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
              </div>
            <% end %>
          </div>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>


<%= paginate(@aparelhos) %>

<script >
    $(document).ready(function(){
        $('.modal').modal();
    });
</script>