<p id="notice"><%= notice %></p>

<h1>Parceiros</h1>
<div class="card">
  <div class="card-content">
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Candidato</th>
      <th>TagHere</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= partner.name %></td>
        <td><%= partner.description %></td>
        <td><%= partner.candidate %></td>
        <td><%= partner.partner_taghere %></td>
        <td><%= partner.active == true ? "SIM" : "NÃO" %></td>
        <td><%= link_to 'Visualizar', partner, target: "_self" %></td>
        <td><%= link_to 'Editar', edit_partner_path(partner), target: "_self" %></td>
        <td><%= link_to 'Deletar', partner, method: :delete, data: { confirm: 'Are you sure?' } , target: "_self"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
<br>

<%= link_to 'Novo Parceiro', new_partner_path, class: "btn",target: "_self" %>
