<div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="headline centered margin-top-80" style="color: #fa5b0f">
                    Termos e Condições de Uso
                </h2>
            </div>
        </div>
        <div class="row">
            <p align="justify">
                
                ​<br>​<br>
                1. Âmbito do serviço
                ​​<br>​<br>
                1.1. Estes termos e condições estão sujeitos a alterações ocasionais e se aplicam a todos os nossos serviços diretos ou indiretos (ex.: através de terceiros), oferecidos na internet, através de dispositivos móveis, por e-mail ou telefone.
                ​​<br>​<br>
                1.2. Ao utilizar o nosso site, você confirma ter lido, compreendido e concordado com todos os termos e condições, assim como com a política de privacidade e a utilização de cookies.
                ​​<br>​<br>
                2. Serviços e Contrato
                ​​<br>​<br>
                2.1. No site da TagHere, você pode comparar serviços de terceiros através do sistema da TagHere.
                ​​<br>​<br>
                2.2. Ao efetuar uma compra, o usuário concorda em ficar vinculado pelos termos e condições daquele provedor. Estes termos e condições podem ser visualizados no próprio provedor.
                ​​<br>​<br>
                2.3. Assim que uma compra for efetuada, é celebrado um contrato entre o provedor de vendas e o usuário e, assim, não é celebrado qualquer contrato entre o usuário e a TagHere.
                ​​<br>​<br>
                2.4. A TagHere não é parte contratual em relação ao plano do provedor de serviços de internet. Todas e quaisquer reclamações do usuário relativas à compra devem ser apresentadas à terceira parte (provedor) e não a TagHere.
                ​​<br>​<br>
                2.5. Este acordo não é afetado por quaisquer acordos entre provedores e usuários.
                ​​<br>​<br>
                3. Comunidade e Área de membros da TagHere
                ​​<br>​<br>
                3.1. Os usuários têm a opção de se cadastrar na TagHere Community (de agora em diante “Community”) e/ou criar uma conta de membro dentro da área de membros da TagHere. Usuários que se cadastram no Community podem publicar seus próprios conteúdos, assim como participar no desenvolvimento da plataforma através das funções da comunidade. Usuários não cadastrados podem ler o conteúdo na TagHere gratuitamente.
                ​​<br>​<br>
                3.2. Ao utilizar a área de membros da TagHere, o usuário tem a opção de gerenciar e armazenar suas buscas. É solicitado ao usuário o fornecimento de seus dados pessoais para a criação da conta. Salvo pelo nome de usuário, nenhuma informação pessoal é divulgada. Para informações adicionais, por favor verifique o link de política de privacidade. Ao excluir a conta, toda e qualquer informação do usuário será removida permanentemente.
                ​​<br>​<br>
                3.3. Usuários não podem cadastrar-se mais de uma vez. O usuário é responsável pela exatidão e integridade de suas informações pessoais.
                ​​<br>​<br>
                3.4. O usuário é responsável pela confidencialidade das informações da sua conta, em especial da sua senha. Usuários também são responsáveis pelo uso de sua conta no que diz respeito a TagHere e terceiros. O usuário não deve divulgar estes dados para o uso de terceiros.
                ​​<br>​<br>
                3.5. Em caso de uso não autorizado dos serviços da TagHere através do uso incorreto do login ou senha, o usuário cadastrado deve notificar a TagHere imediatamente.
                ​​<br>​<br>
                4. Privacidade e Anúncios por e-mail
                ​​<br>​<br>
                4.1. A proteção dos dados pessoais fornecidos pelos usuários é de grande prioridade para a TagHere. A TagHere faz todos os esforços para garantir a conformidade com a proteção de dados. Para mais informações, por favor, consulte a política de privacidade.
                ​<br>​<br>
                4.2. A TagHere coleta, processa e utiliza os dados pessoais de usuários (doravante “dados”) apenas se os dados foram obtidos com o seu consentimento ou sob disposição legal permitindo a coleta, processamento e uso das informações pessoais do usuário.
                ​<br>​<br>
                4.3. A TagHere só recolherá, processará e utilizará informações necessárias para o fornecimento dos serviços prestados pela TagHere, para a utilização e funcionamento dos sites / apps e serviços oferecidos.
                ​<br>​<br>
                4.4. Caso o usuário tenha concordado em receber informações sobre a TagHere durante o cadastro para a comunidade ou em outro momento utilizando os serviços TagHere, receberá informações periódicas sobre o produto. O consentimento pode ser revogado a qualquer momento mediante comunicação escrita ou por e-mail. O consentimento para receber emails segue através de um e-mail de confirmação enviado pela TagHere. Ao clicar no link do e-mail, você receberá nossas newsletters.
                ​<br>​<br>
                5. Obrigações do Usuário
                ​<br>​<br>
                5.1. O usuário é responsável pela aquisição dos direitos do conteúdo (texto, fotos, avaliações, links, etc.) publicados na TagHere. Os usuários garantem que possuem todos os direitos em relação ao conteúdo por eles publicado na TagHere, sem violação dos direitos de terceiros.
                ​<br>​<br>
                5.2. Os usuários garantem não utilizar os serviços da TagHere para criar conteúdo que:
                ​​<br>​<br>
                seja de teor publicitário disfarçado como comentários,
                não possui conteúdo específico para um item de revista,
                não é objetivo ou intencionalmente falso,
                imoral, pornográfico ou de qualquer outra forma ofensiva,
                infrinja os direitos de terceiros, nomeadamente direitos do autor,
                viola leis aplicáveis em qualquer forma ou constitui uma ofensa criminal,
                contém vírus ou outros programas de computador que podem danificar software ou hardware, ou que possa afetar o uso de computadores,
                é uma pesquisa ou e-mails de corrente,
                visa coletar ou utilizar dados pessoais de outros usuários, especialmente para fins comerciais.
                ​<br>​<br>
                5.3. O usuário garante não usar programas ou funções automáticas para gerar impressões de página ou conteúdo na TagHere.
                ​<br>​<br>
                5.4. Em caso de violação dos termos e condições, a TagHere se reserva o direito de remover o conteúdo sem aviso prévio, reter os pagamentos acumulados na Comunidade TagHere e proibir permanentemente membros da TagHere. O direito à acusação de atos criminosos permanece inalterado.
                ​<br>​<br>
                6. Terminação
                ​​<br>​<br>
                6.1. A TagHere se reserva o direito de cancelar o acesso de um usuário e excluir o seu cadastro dentro de um período de uma semana após o recebimento de informações relevantes via e-mail sobre o uso indevido no site. O usuário também poderá rescindir o seu próprio acesso e cadastro dentro do mesmo período.
                ​​<br>​<br>
                6.2. O direito à rescisão imediata por justa causa permanece inalterado.
                ​​<br>​<br>
                7. Responsabilidade
                ​​<br>​<br>
                7.1. A TagHere não é responsável pela exatidão, qualidade, integridade, confiabilidade ou credibilidade do conteúdo fornecido por usuários e/ou de provedores. Não existe nenhum conselho ou informação da TagHere sobre a seleção de planos de internet.
                ​<br>​<br>
                7.2. Todos os acordos que surgem através deste serviço são entre o usuário TagHere e a respectiva contratação externa do provedor. A TagHere não atua como organizador ou provedor de internet em nenhum momento. Os termos e condições do respectivo organizador ou provedor de internet se aplicam exclusivamente para o mesmo, especialmente sobre o direito de cancelamento e anulação. O contato para o processamento de pagamentos, assim como questões sobre o contrato, ficam sob responsabilidade do respectivo provedor de internet contratado. A TagHere permanece sem nenhum envolvimento em tais arranjos contratuais, acordos e reivindicações entre o usuário TagHere e o respectivo provedor de internet de contratação externa.
                ​<br>​<br>
                7.3. A TagHere não verifica a exatidão do conteúdo publicado por provedor de internet ou por membros da comunidade. Este conteúdo é fornecido pelo provedor de internet/comunidade para publicação em nosso site sobre o respectivo provedor. A TagHere não possui qualquer influência sobre essas informações (particularmente em imagens, comentários, opiniões, etc.) A publicação de conteúdo gerado pelo usuário e relatórios sobre a TagHere não refletem a opinião da TagHere, e não reivindica o conteúdo como propriedade da TagHere.
                ​​<br>​<br>
                7.4. Hyperlinks, banners de publicidade, informações sobre planos, provedor de internet ou prestadores de serviços e similares são fornecidos por provedor de internet e membros da comunidade e não representam recomendações ou informações da TagHere. Por razões técnicas, as atualizações dos preços que recebemos dos provedores de internet não são feitas em tempo real. Por este motivo, é possível que o preço disponível no provedor de internet não corresponda ao preço especificado na TagHere. A TagHere não garante a exatidão da informação, particularmente de preços e disponibilidade.
                ​<br>​<br>
                7.5. A TagHere não se responsabiliza por problemas técnicos que se encontrem fora da área da TagHere ou fora da área de responsabilidade da TagHere, ou por danos causados por força maior. A TagHere não garante disponibilidade ininterrupta de dados e pode executar a manutenção técnica durante um período de tempo escolhido livremente.
                ​<br>​<br>
                8. Alterações nos Termos e Condições
                ​<br>​<br>
                8.1. Os termos e condições atuais se aplicam quando o TagHere é utilizado. Os usuários cadastrados recebem notificações sobre as alterações por e-mail. Os usuários podem baixar e imprimir os termos e as condições atuais em seu próprio computador.
                ​<br>​<br>
                9. Lei Aplicável e Jurisdição
                ​​<br>​<br>
                9.1. Os termos e condições gerais constantes deste termo são regidos pela legislação brasileira, sendo competentes os tribunais brasileiros para decidir sobre as situações decorrentes da interpretação, aplicação e cumprimento dos mesmos. O usuário, em virtude da sua aceitação das condições gerais contidas neste termo, renuncia expressamente a qualquer foro que, por aplicação da legislação vigente, possa corresponder-lhe.
            </p>

        </div>



    </div>