<%= form_for(notification) do |f| %>
  <% if notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  <div class="field">
    <%= f.label :description, "Mensagem" %>
    <%= f.text_field :description %>
  </div>
  <% if current_user.admin? %>
      <div class="input-field">

        <%= f.select :partner_id, Partner.all.map{|a| [a.name,a.id]},prompt: true %>
        <%= f.label :partner_id, "Parceiro" %>
      </div>
  <% else %>
      <%= f.hidden_field :partner_id %>
  <% end %>

  <%= f.hidden_field :sended %>
  <%= f.hidden_field :user_id %>


  <div class="actions">
    <%= f.submit "Salvar", class: "btn" %>
  </div>
</div>

<% end %>
