<div id="mail-app" class="section" ng-controller="notification_controller" ng-init="mensagens_recebidas = <%= @notifications_recebidas.to_json %>; mensagens_enviadas = <%= @notifications_enviadas.to_json %>">
  <div class="row">
    <div class="col s12">
      <nav class="blue">
        <div class="nav-wrapper">
          <div class="left col s12 m5 l5">
            <ul>
              <li>
                <a href="#" class="email-menu" target="_self">
                  <i class="material-icons">menu</i>
                </a>
              </li>
              <li><a href="#" class="email-type" target="_self">Mensagens</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="col s12">
      <div id="email-sidebar" class="col s2 m1 s1 card-panel">
        <ul>
          <li>
            <a href="#" title="Mensagens Recebidas" ng-click="tipo_mensagem(1)" target="_self">
              <i class="material-icons active" id="recebidas">notifications_none</i>
            </a>
          </li>
          <li>
            <a href="#" title="Mensagens Enviadas" ng-click="tipo_mensagem(2)" target="_self">
              <i class="material-icons" id="enviadas">record_voice_over</i>
            </a>
          </li>
        </ul>
      </div>
      <div id="email-list" class="col s10 m4 l4 card-panel z-depth-1">

          <span ng-if="mensagens.length == 0">Sem Mensagens no momento</span>

        <ul class="collection">
          <li class="collection-item avatar email-unread" id="msg_{{msg.id}}" ng-repeat="msg in mensagens" ng-click="seleciona_mensagem(msg)">
            <span class="circle red lighten-1"><i class="material-icons">perm_identity</i></span>
            <span class="email-title">{{msg.enviado_por}}</span>
            <p class="truncate grey-text ultra-small">{{msg.telefone}}</p>
            <p class="truncate grey-text ultra-small">{{msg.description | limitTo: 50}}</p>
            <a href="#!" class="secondary-content email-time">
              <span class="blue-text ultra-small">{{msg.created_at | date:"dd/MM/yyyy HH:mm"}}</span>
            </a>
          </li>

        </ul>
      </div>
      <div id="email-details" class="col s12 m7 l7 card-panel" ng-if="mensagem_selecionada != '' ">
        <p class="email-subject truncate">Mensagem
          <!--<span class="email-tag grey lighten-3">inbox</span>
          <span class="email-tag  light-blue lighten-4">projects</span>
          <i class="material-icons yellow-text text-darken-3 right">star_rate</i>-->
        </p>
        <hr class="grey-text text-lighten-2">
        <div class="email-content-wrap">
          <div class="row">
            <div class="col s10 m10 l10">
              <ul class="collection">
                <li class="collection-item avatar">
                  <img src="../../images/avatar/avatar-3.png" alt="" class="circle">
                  <span class="email-title">{{mensagem_selecionada.enviado_por}}</span>
                  <p class="truncate grey-text ultra-small">{{mensagem_selecionada.telefone}}</p>
                  <!--<p class="grey-text ultra-small">Yesterday</p>-->
                </li>
              </ul>
            </div>
           <!-- <div class="col s2 m2 l2 email-actions">
              <a href="#!">
                            <span>
                              <i class="material-icons">reply</i>
                            </span>
              </a>
              <a href="#!">
                            <span>
                              <i class="material-icons">more_vert</i>
                            </span>
              </a>
            </div> -->
          </div>
          <div class="email-content">
            <p>{{mensagem_selecionada.description}}</p>
            <img src="{{mensagem_selecionada.photo.url}}" alt="" width="300px">
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>

</div>


<p id="notice"><%= notice %></p>


<%= link_to 'Nova Mensagem', new_notification_path, class: "btn",target: "_self" %>
<script >
  function ativa(id)
  {
      if(id == 1)
      {
        $("#recebidas").addClass("active");
        $("#enviadas").removeClass("active");
      }
      else
      {
          $("#recebidas").removeClass("active");
          $("#enviadas").addClass("active");
      }
  }

  function seleciona(id)
  {
      $("li").removeClass("selected");
      $("#msg_"+id).addClass("selected");
  }
</script>