<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-content">
    <p>
      <strong>Mensagem:</strong>
      <%= @notification.description %>
    </p>
    <% if !@notification.sended %>
      <p>
        <strong>Imagem:</strong>
        <img src="<%= @notification.photo.url %>" width="200px">

      </p>

      <p>
        <strong>Fiscal:</strong>
        <%= FiscalPhone.find_by_secrete(@notification.fiscal).name %>
      </p>
    <% end %>
  </div>
</div>

<%= link_to 'Voltar', notifications_path, target: "_self" %>
