<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>

    <div class="input-field">
      <%= f.label :email, "E-mail" %>
      <%= f.text_field :email %>
    </div>

  <div class="input-field">

    <%= f.select :role, User.role.options %>
    <%= f.label :role, "Perfil" %>
  </div>

    <div class="input-field">

      <%= f.select :partner_id, Partner.all.map{|a| [a.name,a.id]},prompt: true %>
      <%= f.label :partner_id, "Parceiro" %>
    </div>

    <div class="input-field">
      <%= f.label :password, "Senha" %>
      <%= f.password_field :password %>
    </div>

    <div class="input-field">
      <%= f.label :password_confirmation, "Confirmar Senha" %>
      <%= f.password_field :password_confirmation %>
    </div>

  <div class="actions">
    <%= f.submit "Salvar", class:"btn" %>
  </div>
<% end %>
