<div ng-controller="tse_oficial_controller" >

  <div id="card-alert" class="card gradient-45deg-purple-deep-orange" ng-if="eleito">
    <div class="card-content white-text">
      <i class="material-icons">notifications</i> ELEIÇÃO MATEMÁTICAMENTE DEFINIDA! O candidato {{dados.cand[0].nm}} já está matemáticamente eleito.<p></p>
    </div>
  </div>

  <div id="card-alert" class="card gradient-45deg-purple-deep-orange" ng-if="segundoturno">
    <div class="card-content white-text">
      <i class="material-icons">notifications</i> ELEIÇÃO MATEMÁTICAMENTE DEFINIDA! Os candidatos {{dados.cand[0].nm}} e {{dados.cand[1].nm}} estão no segundo turno no momento. Matemáticamente não é mais possível eleição em primeiro turno<p></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <ul class="collection with-header">
        <li class="collection-header"><h4>Apuração</h4></li>
        <li class="collection-item"><div>Urnas Apuradas<span class="secondary-content">{{dados.st}} ({{arredondar((dados.st * 100)/dados.s)}}%)</span></div></li>
        <li class="collection-item"><div>Votos Apurados<span class="secondary-content">{{dados.ea}} ({{arredondar((dados.ea * 100)/dados.e)}}%)</span></div></li>
        <li class="collection-item"><div>Votos Restantes<span class="secondary-content">{{dados.ena}} ({{arredondar((dados.ena * 100)/dados.e)}}%)</span></div></li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header"><h4>Resultado</h4></li>
        <li class="collection-item" ng-repeat="candidato in dados.cand">
          <div>{{candidato.nm}}<span class="secondary-content">{{candidato.v}} ({{arredondar_2((candidato.v * 100)/dados.vv)}}%)</span></div>
        </li>
      </ul>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/nobody.jpg">
          <a class="btn-floating halfway-fab waves-effect waves-light blue left">
            <i>1º</i>
          </a>
          <span class="new badge lime darken-1" data-badge-caption="Candidato Eleito" ng-if="eleito"> </span>
          <span class="new badge  light-blue darken-4" data-badge-caption="Segundo Turno" ng-if="segundoturno"> </span>
        </div>
        <div class="card-content">
          <h5 class="center font-weight-400">{{dados.cand[0].nm}}</h5>
          <p class="center">{{arredondar_2((dados.cand[0].v * 100)/ dados.vv)}}%</p>
          <div class="divider mt-5"></div>
          <div class="col l6 m6 s6 padding-5">
            <p class="center">
              <b>{{dados.cand[0].v}}</b>
            </p>
            <p class="center">votos</p>
          </div>
          <div class="col l6 m6 s6 padding-5" ng-if="!eleito">
            <p class="center">
              <b>+ {{arredondar((metade+1) - dados.cand[0].v)}}</b>
            </p>
            <p class="center">para ser eleito</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col 12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/nobody.jpg">
          <a class="btn-floating halfway-fab waves-effect waves-light blue left">
            <i>2º</i>
          </a>
          <span class="new badge red darken-1" data-badge-caption="Fora da Disputa" ng-if="eleito"> </span>
          <span class="new badge  light-blue darken-4" data-badge-caption="Segundo Turno" ng-if="segundoturno"> </span>
        </div>
        <div class="card-content">
          <h5 class="center font-weight-400">{{dados.cand[1].nm}}</h5>
          <p class="center">{{arredondar_2((dados.cand[1].v * 100)/ dados.vv)}}%</p>
          <div class="divider mt-5"></div>
          <div class="col l6 m6 s6 padding-5">
            <p class="center">
              <b>{{dados.cand[1].v}}</b>
            </p>
            <p class="center">votos</p>
          </div>
          <div class="col l6 m6 s6 padding-5" ng-if="!eleito">
            <p class="center">
              <b>+ {{arredondar((metade+1) - dados.cand[1].v)}}</b>
            </p>
            <p class="center">para ser eleito</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-content cyan white-text">
        <p class="card-stats-title">
          <i class="material-icons">person_outline</i> Nominais</p>
        <h4 class="card-stats-number"> {{dados.vv}}</h4>
      </div>

    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-content deep-orange accent-2 white-text">
        <p class="card-stats-title">
          <i class="material-icons">content_copy</i> Brancos</p>
        <h4 class="card-stats-number">{{dados.vb}}</h4>

      </div>

    </div>
  </div>
  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-content red accent-2 white-text">
        <p class="card-stats-title">
          <i class="material-icons">not_interested</i>Nulos</p>
        <h4 class="card-stats-number">{{dados.vn}}</h4>

      </div>

    </div>
  </div>
  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-content blue accent-2 white-text">
        <p class="card-stats-title">
          <i class="material-icons">info</i>Restam</p>
        <h4 class="card-stats-number">{{dados.ena}}</h4>

      </div>

    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  setTimeout( function () {
      swal("Atualização Automática", "Na TagHere você não precisa ficar atualizando a página para poder ficar atualizado, os dados são atualizados automáticamente assim que disponíveis! :)", "info")

  }, 1000)
</script>
</div>