<div class="row">
  
  <div class="center">
    <img src="/icon_large.png" alt="" width="200px">
  </div>

  <div class="col s12 m6">
    <div class="card gradient-shadow gradient-45deg-light-blue-cyan border-radius-3" onclick="show_alert()">
      <div class="card-content center">
        <h5 class="white-text lighten-4">Apuração Paralela</h5>
        <p class="white-text lighten-4">Dados Capturados pelos Fiscais</p>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card gradient-shadow gradient-45deg-light-blue-cyan border-radius-3" onclick="show_alert()">
      <div class="card-content center">
        <h5 class="white-text lighten-4">Apuração Oficial</h5>
        <p class="white-text lighten-4">Dados Divulgados pelo TSE</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    function show_alert() {
        swal("Aguarde", "Disponível apenas no dia da Eleição")
    }
</script>