<p id="notice"><%= notice %></p>

<h1>Sections</h1>

<table>
  <thead>
    <tr>
      <th>Namn</th>
      <th>Name</th>
      <th>Address</th>
      <th>Number</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.namn %></td>
        <td><%= section.name %></td>
        <td><%= section.address %></td>
        <td><%= section.number %></td>
        <td><%= section.latitude %></td>
        <td><%= section.longitude %></td>
        <td><%= section.city %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
