<p id="notice"><%= notice %></p>

<p>
  <strong>Namn:</strong>
  <%= @section.namn %>
</p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @section.address %>
</p>

<p>
  <strong>Number:</strong>
  <%= @section.number %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @section.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @section.longitude %>
</p>

<p>
  <strong>City:</strong>
  <%= @section.city %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
