<%= form_for(polling_place) do |f| %>
  <% if polling_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(polling_place.errors.count, "error") %> prohibited this polling_place from being saved:</h2>

      <ul>
      <% polling_place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :city_id %>
    <%= f.text_field :city_id %>
  </div>

  <div class="field">
    <%= f.label :zone_id %>
    <%= f.text_field :zone_id %>
  </div>

  <div class="field">
    <%= f.label :lat %>
    <%= f.text_field :lat %>
  </div>

  <div class="field">
    <%= f.label :lng %>
    <%= f.text_field :lng %>
  </div>

  <div class="field">
    <%= f.label :sections_count %>
    <%= f.number_field :sections_count %>
  </div>

  <div class="field">
    <%= f.label :fiscal_phone_count %>
    <%= f.number_field :fiscal_phone_count %>
  </div>

  <div class="field">
    <%= f.label :fiscal_phone_in_count %>
    <%= f.number_field :fiscal_phone_in_count %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
