<h4 class="center">Dashboard Locais de Votação</h4>

<div class="row">
  <div class="col s12 m4">
    <%= link_to polling_places_path do %>
        <div class="card gradient-shadow gradient-45deg-light-blue-cyan border-radius-3">
          <div class="card-content center">
            <h5 class="white-text lighten-4"><%= @places_count %></h5>
            <p class="white-text lighten-4">Locais de Votação</p>
          </div>
        </div>
    <% end %>
  </div>
  <div class="col s12 m4">
    <%= link_to polling_places_path(tag: :need_fiscal) do %>
        <div class="card gradient-45deg-purple-deep-orange border-radius-3">
          <div class="card-content center">
            <h5 class="white-text lighten-4"><%= @need_fiscal.count %></h5>
            <p class="white-text lighten-4">Com Cadastro Incompleto</p>
          </div>
        </div>
    <% end %>
  </div>
  <div class="col s12 m4">
    <%= link_to polling_places_path(tag: :need_fiscal_in) do %>
        <div class="card gradient-45deg-amber-amber border-radius-3">
          <div class="card-content center">
            <h5 class="white-text lighten-4"><%= @need_fiscal_in.count %></h5>
            <p class="white-text lighten-4">Com Seções Vazias</p>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col s12 m4">
    <%= link_to aparelhos_partners_path do %>
        <div class="card gradient-45deg-blue-indigo border-radius-3">
          <div class="card-content center">
            <h5 class="white-text lighten-4"><%= @cadastros %></h5>
            <p class="white-text lighten-4">Fiscais Cadstrados</p>
          </div>
        </div>
    <% end %>
  </div>
  <div class="col s12 m4">
    <div class="card gradient-45deg-purple-light-blue border-radius-3">
      <div class="card-content center">
        <h5 class="white-text lighten-4"><%= @sections_count - @cadastros %></h5>
        <p class="white-text lighten-4">Déficit Total</p>
      </div>
    </div>
  </div>
</div>

<div class="card-panel">
  <h4 class="header2">Défict por Cidade</h4>
  <table>
    <thead>
    <th>Cidade</th>
    <th>Déficit</th>
    </thead>
    <tbody>
    <% @deficit_grouped.each do |city| %>
        <tr>
          <td><%= link_to city.first, polling_places_path(q:{city_id_eq: city.first.id}) %></td>
          <td><%= city.last %> fiscais</td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


