<div class="card">
  <div class="card-content">
      <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
        Pesquisa
      </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <%= f.text_field :name_or_city_name_cont, placeholder: "Pesquisar..." %>
          <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<div class="card-panel">
  <table class="responsive-table">
    <thead>
    <th>Local</th>
    <th>Seções</th>
    <th>Cadastrados</th>
    <th>No Local</th>
    </thead>
    <tbody>
      <% @polling_places.each do |pp| %>
        <tr>
            <td><%= link_to pp.name, pp %></td>
            <td><%= pp.sections_count %></td>
            <td><%= pp.fiscal_phone_count %></td>
            <td><%= pp.fiscal_phone_in_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate(@polling_places) %>
