<div id="profile-page-header" class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <iframe width="100%" height="400" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?q=<%= @polling_place.lat %>,<%= @polling_place.lng %>&key=AIzaSyDMUpi9klfsed7huZAVkkPp-U8S_9SUwao"></iframe>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col m9 s12">
        <h4 class="card-title grey-text text-darken-4"><%= @polling_place.name %></h4>
        <p class="medium-small grey-text">
          Zona: <%= @polling_place.zone %> <br>
          Cidade: <%= @polling_place.city %> <br>
          Endereço: <%= @polling_place.address%> <br>
        </p>
      </div>
      <div class="col m3 s12 center-align">
        <h4 class="card-title grey-text text-darken-4"><%= @polling_place.fiscal_phone_count %>/<%= @polling_place.sections_count %></h4>
        <p class="medium-small grey-text">Fiscais/Seções</p>
      </div>
    </div>
  </div>
  <div class="card-reveal">

  </div>
</div>

<div class="row">
  <div class="col s12 m9">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Fiscais Cadastrados</div>
        <table>
          <thead>
          <tr>
            <th>Fiscal</th>
            <th>Telefone</th>
            <th>Local de Votação</th>
          </tr>
          </thead>

          <tbody>
          <% @polling_place.fiscal_phones.each do |aparelho| %>
              <tr>
                <td>
                  <div class="chip red darken-4 white-text tooltipped" data-position="top" data-delay="50" data-tooltip="Não leu o Boletim">
                    <img src="/materialize/images/avatar/avatar-3.png" alt="Contact Person">
                    <%= aparelho.name %>
                  </div>
                </td>
                <td>
                  <div class="chip">
                    <img src="/materialize/images/icon/Message.png" alt="Contact Person">
                    <%= aparelho.phone %>
                  </div>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card-panel">
      <h4 class="header2">Seções</h4>
      <%= @polling_place.sections.to_sentence %>
    </div>
    <div class="card-panel">
      <h4 class="header2">Legenda</h4>
      <div class="chip red darken-4 white-text tooltipped" data-position="top" data-delay="50" data-tooltip="Não leu o Boletim">
        <img src="/materialize/images/avatar/avatar-3.png" alt="Contact Person">
        Não Cumpriu
      </div>
      <br>
      <div class="chip green white-text tooltipped" data-position="top" data-delay="50" data-tooltip="Cumpriu as Tarefas">
        <img src="/materialize/images/avatar/avatar-3.png" alt="Contact Person">
        Cumpriu as Tarefas
      </div>
    </div>
  </div>
</div>



