<%= form_for(candidate) do |f| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>

  <div class="input-field">
    <%= f.label :numero, "Número" %>
    <%= f.number_field :numero %>
  </div>

  <div class="input-field">
    <%= f.label :votos %>
    <%= f.number_field :votos %>
  </div>

  <div class="-input-field">
    <%= f.label :foto %>
    <%= f.file_field :foto %>
  </div>

  <div class="field">
    <%= f.label :office_id, "Cargo" %>
    <%= f.select :office_id, Office.all.map{|a| [a.numero, a.id]} %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar",class:"btn", target:"_self" %>
  </div>
<% end %>
