<p id="notice"><%= notice %></p>

<h1>Candidatos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Número</th>
      <th>Votos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
        <td><%= candidate.numero %></td>
        <td><%= candidate.votos %></td>

        <td><%= link_to 'Visualizar', candidate , target:"_self"%></td>
        <td><%= link_to 'Editar', edit_candidate_path(candidate), target:"_self" %></td>
        <td><%= link_to 'Deletar', candidate, method: :delete, data: { confirm: 'Are you sure?' }, target:"_self" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Candidato', new_candidate_path, target:"_self" %>
