<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @candidate.numero %>
</p>

<p>
  <strong>Votos:</strong>
  <%= @candidate.votos %>
</p>

<p>
  <strong>Foto:</strong>
  <img src="<%= @candidate.foto.url %>" alt="">
</p>

<p>
  <strong>Office:</strong>
  <%= @candidate.office %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
