<p id="notice"><%= notice %></p>

<h1>Zonas</h1>

<table>
  <thead>
    <tr>
      <th>Número</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zones.each do |zone| %>
      <tr>
        <td><%= zone.number %></td>
        <td><%= link_to 'Visualizar', zone %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

