<p id="notice"><%= notice %></p>
<h1>Zona</h1>
<div class="card">
  <div class="card-content">
<p>
  <strong>Número:</strong>
  <%= @zone.number %>
</p>

<div class="card">
  <div class="card-content">
    <span class="card-title">Municípios</span>
    <table class="striped">
      <thead>
      <tr>
        <th>Número</th>
        <th>Código</th>
      </tr>
      </thead>
      <tbody>
      <% @zone.cities.each do |c| %>
        <tr>
          <td><%= c %></td>
          <td><%= c.number %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
  </div>
</div>
<%= link_to 'Voltar', zones_path, target: "_self" %>
