<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @city.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Sede:</strong>
  <%= @city.sede %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
