<%= form_for(litigation) do |f| %>
  <% if litigation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(litigation.errors.count, "error") %> prohibited this litigation from being saved:</h2>

      <ul>
      <% litigation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :eleitores %>
    <%= f.number_field :eleitores %>
  </div>

  <div class="field">
    <%= f.label :faltantes %>
    <%= f.number_field :faltantes %>
  </div>

  <div class="field">
    <%= f.label :numero %>
    <%= f.number_field :numero %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
