<p id="notice"><%= notice %></p>

<h1>Pleitos</h1>

<table >
  <thead>
    <tr>
      <th>Eleitores</th>
      <th>Faltantes</th>
      <th>Número</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @litigations.each do |litigation| %>
      <tr>
        <td><%= litigation.eleitores %></td>
        <td><%= litigation.faltantes %></td>
        <td><%= litigation.numero %></td>
        <td><%= link_to 'Visualizar', litigation, target:"_self" %></td>
        <td><%= link_to 'Editar', edit_litigation_path(litigation), target:"_self" %></td>
        <td><%= link_to 'Deletar', litigation, method: :delete, data: { confirm: 'Are you sure?' }, target:"_self" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Pelito', new_litigation_path, target:"_self" %>
