<p id="notice"><%= notice %></p>

<p>
  <strong>Eleitores:</strong>
  <%= @litigation.eleitores %>
</p>

<p>
  <strong>Faltantes:</strong>
  <%= @litigation.faltantes %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @litigation.numero %>
</p>

<%= link_to 'Edit', edit_litigation_path(@litigation) %> |
<%= link_to 'Back', litigations_path %>
