<%= nested_form_for(region) do |f| %>
  <% if region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card">
  <div class="card-content">
  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>


  <% if current_user.partner? %>
    <%= f.hidden_field :partner_id %>
  <% else %>
        <div class="input-field">
          <%= f.select :partner_id, Partner.all.map{|a| [a.name,a.id]},{prompt: true} %>
          <%= f.label :partner_id, "Parceiro" %>
        </div>
  <% end %>

    <div class="card" style="overflow: visible;">
      <div class="card-content">
        <span class="card-title">Municípios</span>
        <%= f.fields_for :region_cities do |l| %>
            <div class="row">
              <div class="input col s8">
                <%= f.label :city_id, "Município" %>
                <%= l.select :city_id, City.all.map{|a| [a.name, a.id]},{prompt:true},{class:"select2 browser-default"}%>


              </div>
              <div class="col s2 pull-left">
                <%= l.link_to_remove "Remover", class:"glyphicon glyphicon-remove"%>
              </div>
            </div>
            <script>
                $(document).ready(function(){
                    $('.select2').select2();

                })
            </script>
        <% end %>
        <p><%= f.link_to_add "Inserir Município", :region_cities %></p>

      </div>
    </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn", target:"_self" %>
  </div>
<% end %>
