<p id="notice"><%= notice %></p>

<h1>Regiões</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <% if current_user.admin? %>
        <th>Parceiro</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <% if current_user.admin? %>
          <td><%= region.partner %></td>
        <% end %>
        <td><%= link_to 'Visualizar', region %></td>
        <td><%= link_to 'Editar', edit_region_path(region) %></td>
        <td><%= link_to 'Deletar', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Região', new_region_path, class: "btn", target:"_self" %>
