<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-content">
    <p>
      <strong>Região:</strong>
      <%= @region.name %>
    </p>
    

    <div id="chart_collum" class="center"></div>
    <div id="chart_div" class="center"></div>
  </div>
</div>


<%= link_to 'Editar', edit_region_path(@region), target:"_self" %> |
<%= link_to 'Voltar', regions_path, target:"_self" %>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {
        var dados = <%= @votos.group_by(&:city).map{|city, votos| [city.name,votos.sum{|a| a.votos}]}.to_s.html_safe %>;
        dados.unshift(["Cidade","Votos"]);
        console.log(dados);
        var data = google.visualization.arrayToDataTable(dados);

        var options = {
            title: 'Votos Nominais',
            'width':400,
            'height':300
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

        chart.draw(data, options);

        var options_collum = {
            title: 'Votos Nominais'
        };

        var chart_collum = new google.visualization.ColumnChart(document.getElementById('chart_collum'));

        chart.draw(data, options);
        chart_collum.draw(data, options_collum);
    }
</script>
