<%= form_for(vote) do |f| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :processo %>
    <%= f.number_field :processo %>
  </div>

  <div class="field">
    <%= f.label :pleito %>
    <%= f.number_field :pleito %>
  </div>

  <div class="field">
    <%= f.label :turno %>
    <%= f.number_field :turno %>
  </div>

  <div class="field">
    <%= f.label :municipio %>
    <%= f.number_field :municipio %>
  </div>

  <div class="field">
    <%= f.label :zona %>
    <%= f.number_field :zona %>
  </div>

  <div class="field">
    <%= f.label :secao %>
    <%= f.number_field :secao %>
  </div>

  <div class="field">
    <%= f.label :urna %>
    <%= f.number_field :urna %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
