<p id="notice"><%= notice %></p>

<h1>Votos</h1>

<table>
  <thead>
    <tr>
      <th>Candidato</th>
      <th>Votos</th>
      <th>Processo</th>
      <th>Pleito</th>
      <th>Turno</th>
      <th>Municipio</th>
      <th>Zona</th>
      <th>Seção</th>
      <th>Urna</th>
      <th>Cargo</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.candidato %></td>
        <td><%= vote.votos %></td>
        <td><%= vote.processo %></td>
        <td><%= vote.pleito %></td>
        <td><%= vote.turno %></td>
        <td><%= vote.city %></td>
        <td><%= vote.zone.number %></td>
        <td><%= vote.section.number %></td>
        <td><%= vote.urna %></td>
        <td><%= vote.office %></td>
        <td><%#= link_to 'Show', vote %></td>
        <td><%#= link_to 'Edit', edit_vote_path(vote) %></td>
        <td><%#= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Vote', new_vote_path %>
