<p id="notice"><%= notice %></p>

<p>
  <strong>Processo:</strong>
  <%= @vote.processo %>
</p>

<p>
  <strong>Pleito:</strong>
  <%= @vote.pleito %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @vote.turno %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @vote.municipio %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @vote.zona %>
</p>

<p>
  <strong>Secao:</strong>
  <%= @vote.secao %>
</p>

<p>
  <strong>Urna:</strong>
  <%= @vote.urna %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
