<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
  <div class="brand-sidebar">
    <h1 class="logo-wrapper">
      <a href="/" class="brand-logo darken-1">
        <i class="material-icons" style="padding-left: 10px;">assignment_ind</i>
        <span class="logo-text hide-on-med-and-down">Fiscal</span>
      </a>
      <a class="navbar-toggler">
        <i class="material-icons">radio_button_checked</i>
      </a>
    </h1>
  </div>
  <% if user_signed_in? %>
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
      <li>
        <a href="/tse/apuracao" target="_self">
          <i class="material-icons">dns</i>
          <span class="nav-text">Apuração Paralela</span>
        </a>
      </li>
      <li>
        <a href="/tse/apuracao" target="_self">
          <i class="material-icons">dns</i>
          <span class="nav-text">Apuração Oficial</span>
        </a>
      </li>
    <% if current_user.admin? %>
      <li>
        <a href="/bulletins" target="_self">
          <i class="material-icons">wifi_tethering</i>
          <span class="nav-text">Boletins</span>
        </a>
      </li>
      <li>
        <a href="/offices" target="_self">
          <i class="material-icons">business_center</i>
          <span class="nav-text">Cargos</span>
        </a>
      </li>
      <li>
        <a href="/votes" target="_self">
          <i class="material-icons">chrome_reader_mode</i>
          <span class="nav-text">Votos</span>
        </a>
      </li>
      <li>
        <a href="/candidates" target="_self">
          <i class="material-icons">group</i>
          <span class="nav-text">Candidatos</span>
        </a>
      </li>
        <li>
          <a href="/litigations" target="_self">
            <i class="material-icons">dns</i>
            <span class="nav-text">Pleitos</span>
          </a>
        </li>
        <li>
          <a href="/partners" target="_self">
            <i class="material-icons">dns</i>
            <span class="nav-text">Parceiros</span>
          </a>
        </li>
        <li>
          <a href="/users" target="_self">
            <i class="material-icons">person</i>
            <span class="nav-text">Usuários</span>
          </a>
        </li>
        <li>
          <a href="/zones" target="_self">
            <i class="material-icons">person</i>
            <span class="nav-text">Zonas</span>
          </a>
        </li>
    <% end %>
    <% if current_user.partner? || current_user.admin? %>
        <li>
          <a href="/regions" target="_self">
            <i class="material-icons">map</i>
            <span class="nav-text">Regiões</span>
          </a>
        </li>
        <li>
          <a href="/partners/aparelhos" target="_self">
            <i class="material-icons">person</i>
            <span class="nav-text">Fiscais</span>
          </a>
        </li>
        <li>
          <a href="/polling_places/dashboard" target="_self">
            <i class="material-icons">beenhere</i>
            <span class="nav-text">Locais de Votação</span>
          </a>
        </li>
        <li>
          <a href="/notifications" target="_self">
            <i class="material-icons">message</i>
            <span class="nav-text">Mensagens</span>
          </a>
        </li>

    <% end %>
    <li>
      <a href="<%= destroy_user_session_path %>">
        <i class="material-icons">exit_to_app</i>
        <span class="nav-text">Sair</span>
      </a>
    </li>
  </ul>
  <% else %>
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
      <li>
        <a href="/tse/apuracao" target="_self">
          <i class="material-icons">dns</i>
          <span class="nav-text">Apuração Paralela</span>
        </a>
      </li>
      <li>
        <a href="/tse/apuracao" target="_self">
          <i class="material-icons">dns</i>
          <span class="nav-text">Apuração Oficial</span>
        </a>
      </li>
      <li>
        <a href="/users/sign_in" target="_self">
          <i class="material-icons">dns</i>
          <span class="nav-text">Entrar</span>
        </a>
      </li>
    </ul>
  <% end %>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only gradient-45deg-light-blue-cyan gradient-shadow">
    <i class="material-icons">menu</i>
  </a>
</aside>
<!-- END LEFT SIDEBAR NAV-->