<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>TagHere - Fiscal Eleitoral</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="/materialize/css/themes/semi-dark-menu/materialize.css" type="text/css" rel="stylesheet">
    <link href="/materialize/css/themes/semi-dark-menu/style.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="/materialize/css/custom/custom.css" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="/materialize/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="/materialize/vendors/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet">
    <link href="/materialize/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="/materialize/css/plugins/select2.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.19.1/sweetalert2.min.css">
    <link rel="icon" href="/icon.png" sizes="192x192">
  </head>

  <body class="layout-semi-dark">
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->
  <%= render partial:"layouts/topbar" %>
  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
      <%= render partial:"layouts/leftsidebar" %>
      <!-- START CONTENT -->
      <section id="content">
        <!--start container-->
        <div class="container">
          <%= yield %>
        </div>
      </section>
      <!-- END CONTENT -->
      <%= render partial:"layouts/floating" %>
      <%= render partial:"layouts/rightsidebar" %>

    </div>
    <!-- END WRAPPER -->
  </div>
  <!-- END MAIN -->
  <!-- //////////////////////////////////////////////////////////////////////////// -->
  <!-- START FOOTER -->
  <%= render partial:"layouts/footer" %>

  <!-- END FOOTER -->
  <!-- ================================================
  Scripts
  ================================================ -->
  <!-- jQuery Library -->
  <!--<script type="text/javascript" src="/materialize/vendors/jquery-3.2.1.min.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
          $('.select2').select2();
          $('select').material_select();
      });

  </script>
  <!--materialize js-->
  <script type="text/javascript" src="/materialize/js/materialize.js"></script>
  <!--prism-->
  <script type="text/javascript" src="/materialize/vendors/prism/prism.js"></script>
  <!--scrollbar-->
  <script type="text/javascript" src="/materialize/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <!-- chartjs -->
  <script type="text/javascript" src="/materialize/vendors/chartjs/chart.min.js"></script>
  <!--plugins.js - Some Specific JS codes for Plugin Settings-->
  <script type="text/javascript" src="/materialize/js/plugins.js"></script>
  <!--custom-script.js - Add your own theme custom JS-->
  <script type="text/javascript" src="/materialize/js/custom-script.js"></script>
  <script type="text/javascript" src="/materialize/js/scripts/dashboard-ecommerce.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.19.1/sweetalert2.min.js"></script>

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>


  <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-database.js"></script>
  <!--<script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-messaging.js"></script>-->
  <!--<script>
      // Initialize Firebase desenvolvimento
      var config = {
          apiKey: "AIzaSyCUn_CQiuc2VxQR2K88dHbqBug9voU90Jg",
          authDomain: "desenvolvimento-172113.firebaseapp.com",
          databaseURL: "https://desenvolvimento-172113.firebaseio.com",
          projectId: "desenvolvimento-172113",
          storageBucket: "desenvolvimento-172113.appspot.com",
          messagingSenderId: "66471735454"
      };
      firebase.initializeApp(config);
      firebase.auth().signInAnonymously();
  </script>-->

  <script>
      // Initialize Firebase
      var config = {
          apiKey: "AIzaSyC78wJC8Jtdri6-1XrKEuEMCh06o3q4kPU",
          authDomain: "notificato-seplan.firebaseapp.com",
          databaseURL: "https://notificato-seplan.firebaseio.com",
          projectId: "notificato-seplan",
          storageBucket: "notificato-seplan.appspot.com",
          messagingSenderId: "713265584121"
      };
      firebase.initializeApp(config);
      firebase.auth().signInAnonymously();
  </script>


  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>


<!--  4.10.1 -->




  <script src="/angular/app.module.js"></script>
  <script src="/angular/firebase_controller.js"></script>
  <script src="/angular/tse_oficial_controller.js?<%= Time.now.to_i %>"></script>
  <script src="/angular/notification_controller.js"></script>



  <%= javascript_include_tag "nested_form" %>
  <% if flash[:notice].present? %>
      <script type="text/javascript">
          setTimeout(function() {
              Materialize.toast('<span><%= flash[:notice] %></span>', 3000);
          }, 1500);
      </script>
  <% end %>

  <% if flash[:alert].present? %>
      <script type="text/javascript">

          setTimeout(function() {
              Materialize.toast('<span class="red-text"><%= flash[:alert] %></span>', 3000);
          }, 1500);
      </script>
  <% end %>
  <%= yield :scripts %>
  </body>
</html>
